<!DOCTYPE html>
<html>
<head>
    <title>PeaToHs</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/flash.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="logo"><strong>Pea</strong>to<strong>Hs</strong></h1>
        <div class="social">
            <a href="https://github.com/johnfredriksson/pea-to-hs"><i class="fa-brands fa-github"></i></a>
            <a href="https://hubspot.com"><i class="fa-brands fa-hubspot"></i></a>
        </div>
    </header>
    <div class="container">

        <%- locals.flash %>