<%- include("partials/header") %>
<h1 class="headline">Move Client Data From<br> <strong>PE Accounting</strong><br> To <strong>HubSpot</strong></h1>
<a class="button" href="<%= authUrl %>">
    <p>Login with HubSpot</p>
    <img src="/img/hubspot-logo.png" alt="HubSpot Logo">
</a>
<%- include("partials/footer") %>