<%- include("partials/header") %>
<h1 class="headline">Move Client Data From<br> <strong>PE Accounting</strong><br> To <strong>HubSpot</strong></h1>
<a class="button" href="<%= authUrl %>">
    <p>Login with HubSpot</p>
    <i class="fa-brands fa-hubspot"></i>
</a>
<%- include("partials/footer") %>