* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #FBEA41;
    height: 10vh;
}

.container {
    background-color: #FFFFFF;
    width: 60vw;
    min-height: 60vh;
    margin: 10vw auto;
    box-shadow: -1px 10px 40px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 40px -8px rgba(0,0,0,0.75);
}

.headline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    position: relative;
    left: 1em;
    top: 1em;
    max-width: 30vw;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 1.3em;
    left: 0.3em;
}

.social {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    top: 1.4em;
    right: 1em;
}

.social a {
    transition: all ease-in-out 0.1s;
    margin-right: 1em;
}

.social i {
    color: #000000;
}

.social i:hover {
    color: #00000075;
}

a:visited {
    color: #000000
}

.logout {
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
    font-size: 2em;
    color: #000000;
}

.logout i {
    transition: all ease-in-out 0.2s;
}

.logout:hover i {
    rotate: 90deg;
    color: #5c5c5c;
    transform: scale(1.2);
}
