.alert {
    width: 30vw;
    position: absolute;
    text-align: center;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
    transition: 1s all ease-in-out;
    margin-top: 5em;
    left: 50%;
}

.error {
    background-color: rgba(255, 0, 0, 0.216);
}

.success {
    background-color: rgba(77, 255, 0, 0.216);
}